#app {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  color: white;
}

.app-background,
.app-content {
  position: absolute;
  inset: 0;
}

.app-background {
  z-index: 0;
  background: #000;
}

.app-content {
  z-index: 1;
}
