@font-face {
  font-family: "Inkverse";
  src: url("./assets/fonts/Inkverse-BWDRx.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===== CSS RESET ===== */

/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
   user-select: none;
}

/* убираем отступы */
* {
  margin: 0;
  padding: 0;
}

/* базовые настройки документа */
html,
body {
  width: 100%;
  height: 100%;
}

/* тело документа */
body {
  font-family: "Inkverse", system-ui, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background: greenyellow;
}

/* медиа */
img,
canvas,
video,
svg {
  display: block;
  max-width: 100%;
}

/* формы */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* кнопки */
button {
  cursor: pointer;
}

/* списки */
ul,
ol {
  list-style: none;
}

/* ссылки */
a {
  color: inherit;
  text-decoration: none;
}

/* таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
